beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
filelock==3.18.0
idna==3.10
pip==25.0
pyfiglet==1.0.2
requests==2.32.3
requests-file==2.1.0
soupsieve==2.6
tldextract==5.2.0
tqdm==4.66.4
typing_extensions==4.13.2
urllib3==2.3.0